html {

}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: CamphorPro , "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.btn{
  padding: 12px 16px;
  padding-bottom: 9px;
  background-color: #207fd7;
  color:#fff;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.1s ease-in-out;
  &:hover{
    transform: translateY(-2px);
    background-color: darken(#207fd7,3%);
  }
}
.btn-primary{
  background-color: #f58423;
  &:hover{
    background-color: darken(#f58423,3%);
  }
}

.image{
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  transition: all 0.2s;
  &:hover{
    box-shadow: 0 0 28px rgba(0,0,0,0.3);
  }
}

.overflow-background{
  overflow: hidden;
}

$height: 900px;
.background{
  transition:top  0.5s ease;
  height: $height;
  width: 100vw;
  position: absolute;
  top:-1 * ($height/2);
  transform: rotate(-25deg);
  left:-1 * ($height/3);
  z-index: 0;

  @media only screen and (max-width: 1300px) {
    left:-1 * ($height/2.7);
  }

  @media only screen and (max-width: 1100px) {
    left:-1 * ($height/2.5);
  }
  @media only screen and (max-width: 900px) {
    left:-1 * ($height/2.8);
  }

  @media only screen and (max-width: 500px) {

    left:-1 * ($height/3.5);
  }

  .cursor{
    position: absolute;
    left:40vw;
    bottom: 15%;
    filter: drop-shadow(10px 30px 10px rgba(0,0,0,0.3));
    @include background-image-retina('../images/cursor_landing', 'png', 117px, 184px);
    z-index: 30;
    margin-left: -45px;
    transform: rotate(25deg);
    transition: all 0.2s ease;
    animation-name:Cursor;
    animation-duration:1.5s;
    animation-iteration-count:1;
    animation-delay: 1s;

    @keyframes Cursor {
      0%   {
        bottom: -25%;
        opacity: 0;
      }
      10%   {
        bottom: -10%;
        opacity: 0;
        filter: none;
      }
      30% {
        bottom: 70%;
        opacity: 1;
      }
      31% {
        bottom: -25%;
        opacity: 0;
      }
      40% {
        bottom: -10%;
        opacity: 0;
        filter: none;
      }
      60% {
        bottom: 15%;
        opacity: 1;
        filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.3));
      }
      //50%   {
      //  bottom: -10%;
      //  opacity: 0;
      //  filter: none;
      //}
      80% {
        bottom: 15%;
        opacity: 1;
        filter: drop-shadow(10px 30px 10px rgba(0,0,0,0.3));
      }
    }

    @media only screen and (max-width: 700px) {

      transform: rotate(25deg) scale(0.8);
    }

    &:hover{
      filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.3));
      bottom: 16%;

      //transform: scale(1.1) rotate(25deg) rotateX(-20deg) rotateY(-10deg);
    }
  }
  &:before{
    content:'';
    background-image: linear-gradient(-50deg, #fb820c 30%, #ffa145 46%,#ffa145 50%,#fb820c 80%);

    //background-image: linear-gradient(-90deg, darken(#fb820c,0%),#fb820c,darken(#fb820c,5%), lighten(#fb820c,0%));
    background-size: 200% 200%;
    animation: Gradient 3s cubic-bezier(0.4, 0, 1, 1) infinite;
    width: 40vw;
    position: absolute;
    left:0;
    top:0;
    bottom:0
  }
  &:after{
    content:'';
    width: 200vw;
    position: absolute;
    left:40vw;
    top:0;
    bottom:0;
    //background-image: linear-gradient(-45deg, darken(#0e67b6,0%),#0e67b6,lighten(#0e67b6,5%), lighten(#0e67b6,0%));
    //background-size: 200% 200%;
    //animation: Gradient 3s ease infinite;

    //background-image: linear-gradient(-45deg, #158ffb 30%, #0e67b6);
    //background-image: linear-gradient(-45deg, #158ffb 30%, #0e67b6 60%,#158ffb 80%);
    background-image: linear-gradient(-45deg, #0e67b6 30%, #117ede 60%,#0e67b6 80%);
    background-size: 200% 200%;
    animation: Gradient 3s cubic-bezier(0.4, 0, 1, 1) infinite;
    animation-direction: alternate;

  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}
