#content {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;


  @media only screen and (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#contact{
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
  padding-top: 40px;

  > h4 {
    font-size: 22px;
    color: #FF7E00;
  }

  > .subtitle{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 5px;
    color:#888;
  }
  > .description{
    margin-top: 5px;
    font-size: 13px;
    color:#888;
  }

  .social-icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > .icon {

      color:#777;
      text-decoration: none;
      font-size: 13px;
      position: relative;
      margin-left: 15px;
      margin-right: 15px;
      background-position: 0 20px;
      height: 80px !important;

      &.icon-facebook {
        @include background-image-retina('../images/social_icon_facebook', 'png', 60px, 60px);
      }
      &.icon-twitter {
        @include background-image-retina('../images/social_icon_twitter', 'png', 60px, 60px);
      }
      &.icon-google {
        @include background-image-retina('../images/social_icon_google', 'png', 60px, 60px);
      }
    }
  }
}

.profile {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  padding-top: 20px;

  .links {
    display: flex;
    margin-top: 10px;

    .btn {
      margin-right: 10px;
    }
  }

  p {
    color: #888;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    .details {
      margin-left: 10px;
    }
    .role {
      font-size: 11px;
      color: #777;
      text-transform: uppercase;
    }
    .name {
      font-size: 22px;
    }
  }
}

.feature {
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  @media only screen and (max-width: 600px) {
   flex-direction: column;
  }


  &.border {
    border-top: 1px solid #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4;
  }

  &.alter {
    > .info {
      > h2 {
        color: #0086fe
      }
    }
  }

  &.center {
    flex-direction: column;

    > .info {
      align-items: center;
      max-width: 600px;
      text-align: center;
    }
  }

  > .images {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    > .icon {
      width: 87px;
      height: 87px;
      margin: 20px;

      &.icon-offline {
        @include background-image-retina('../images/icon_offline', 'png', 87px, 87px);
      }
    }

    > .image-agenda {
      @include background-image-retina('../images/screen_agenda', 'png', 253px, 450px)
    }
    > .image-news-list {
      @include background-image-retina('../images/screen_news_list', 'png', 253px, 450px)
    }
  }

  > .slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 520px;

    .content {
      display: flex;
      height: 520px;
      justify-content: center;
      position: relative;
      text-align: center;
      flex-wrap: nowrap;

      > div {
        display: inline-flex;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
      }

      > .image-ipad-schedule {
        //left:700px;
        @include background-image-retina('../images/screen_ipad_schedule', 'png', 667px, 500px);
      }
      > .image-ipad-assists {
        @include background-image-retina('../images/screen_ipad_assists', 'png', 667px, 500px);
      }

    }
  }

  > .image-login {
    top: -20px;
    position: relative;
    margin-right: 30px;
    @include background-image-retina('../images/screen_login', 'png', 254px, 450px);
    @media only screen and (max-width: 600px) {
      margin-right: 0px;
    }
  }

  > .info {
    flex-direction: column;
    flex: 1;
    > h2 {
      font-size: 28px;
      color: #FF7E00;
      //background: linear-gradient(to right,#0086fe, #FF7E00);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }
    > p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #666;
    }

    > .item {
      display: flex;

      > .icon {
        width: 56px;
        height: 56px;

        &.icon-security {
          @include background-image-retina('../images/feature_icon_security', 'png', 56px, 56px);
        }
        &.icon-fast {
          @include background-image-retina('../images/feature_icon_fast', 'png', 56px, 56px);
        }
        &.icon-offline {
          @include background-image-retina('../images/feature_icon_offline', 'png', 56px, 56px);
        }
      }

      > .info {
        margin-left: 20px;
        flex: 1;

        > h4 {
          font-size: 18px;
          margin-bottom: 4px;
          color: #444;
        }
        > p {
          color: #666;
          margin-bottom: 20px;
        }
      }
    }
  }

}