
@font-face {
  font-family: 'CamphorPro';
  src: url('../fonts/hinted-CamphorPro-Regular.woff2') format('woff2'),
  url('../fonts/hinted-CamphorPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CamphorPro';
  src: url('../fonts/hinted-CamphorPro-Light.woff2') format('woff2'),
  url('../fonts/hinted-CamphorPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
