#landing {
  max-width: 880px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  display: flex;

  flex-direction: row;


  > .info {
    z-index: 1;
    margin-left: 15vw;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    flex: 1;
    color: #fff;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
    @media only screen and (max-width: 850px) {
      margin-left: 22vw;
    }
    @media only screen and (max-width: 700px) {
      margin-left: 16vw;
    }
    @media only screen and (max-width: 600px) {
      padding: 30px;
      margin-left: 0vw;
    }

    h1, h2 {
      font-size: 26px;
      margin: 0;
      padding: 0;
    }
    p {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .options {
      padding-top: 20px;
    }

    .download-links {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 600px) {
     align-items: center;
        justify-content: center;
      }

      > a {
        text-indent: -9999px;
        position: relative;
        background-repeat: no-repeat;
        width: 167px;
        height: 53px;
        margin-right: 6px;
        margin-bottom: 12px;
        filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.3));


        transition: all 0.2s;
        &:hover{
          filter: drop-shadow(0px 2px 0px rgba(0,0,0,0.3));
          transform: translateY(-2px);
        }

      }
      .google-play {
        @include background-image-retina('../images/download_googleplay', 'png', 167px, 50px);
      }
      .app-store {
        @include background-image-retina('../images/download_appstore', 'png', 167px, 50px);
      }
      .windows-store {
        @include background-image-retina('../images/download_windows', 'png', 167px, 50px);
      }
    }
  }
  .image-intranet {
    z-index: 1;
    @include background-image-retina('../images/screen_intranet', 'png', 253px, 450px);
    margin-top: 20px;
    margin-right: 10px;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

}